{% extends 'homebase.html.twig' %}

{% block title %}About Us|{{setting[0].title}}{% endblock %}
{% block keywords %}{{setting[0].keywords}}{% endblock %}
{% block description %}{{setting[0].description}} {% endblock %}

{% block body %}

    <!-- Subintro
================================================== -->
    <section id="subintro">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <ul class="breadcrumb">
                        <li><a href="/"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                        <li><a href="/">Home</a><i class="icon-angle-right"></i></li>
                        <li class="active">About us</li>
                    </ul>
                </div>
                <div class="span4">
                    <div class="search">
                        <form class="input-append">
                            <input class="search-form" id="appendedPrependedInput" type="text" placeholder="Search here.." />
                            <button class="btn btn-dark" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="maincontent">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h2>About Us</h2>
                </div>
            </div>
            <h3>Atypikhouse est une société à résponsabilité limitée (sarl) au capital de 10000€ composée de trois associés partageant les mêmes passions pour les voyages, l'habitat alternatif et la vie en harmonie avec la nature.

Atypikhouse a pour ambition de recenser les plus beaux habitats alternatif (yourtes, cabanes, cabanes flottantes etc...) afin de les proposer en location au plus grand nombre, attirés par le calme et la nature.

Le site Atypikhouse permet à ses utilisateurs de rechercher un logement à louer en france ou en europe, mais permet également à ses utilisateurs de mettre en location leurs propres logements de manière simple et sécurisé.

Soucieux de la qualité de nos services, nous assurons un controle sérieux sur les logements mis à disposition des clients afin d'assurer un service irreprochable et sécurisé.

Le site Atypikhouse est secondé par une application permettant à tous les utilisateurs de notre service d'avoir un récapitulatif de leurs achats et pourront également gérer leurs logements si ils ont été enregistrés comme propriété louable.

Atypikhouse vous permet donc de reserver des logements atypiques en ligne en europe dans 5 pays: FRANCE, ESPAGNE, ITALIE, ALLEMAGNE et BELGIQUE (nous comptons à l'avenir rajouter tous les autres pays européens dans les mises à jours à venir). Atypikhouse permet de gérer vos réservations ou annonces via notre application mobile.

Pour toutes question vous pouvez nous contacter par téléphone au 08 55 56 56 56 ou par mail à notre.equipe.atypikhouse@gmail.com sinon vous pouvez aussi utiliser le formulaire de contact de notre site mais pour cela vous devez vous connecter sur votre compte.</h3>
            
            <div class="row">
                <div class="span10">

                    {{ setting[0].aboutus |raw }}

                </div>
            </div>
        </div>
    </section>


{% endblock %}


